@page "/carservicedetails/{id:int}"
@inject IConfiguration Configuration
@inject IServiceHttpRepository ServiceHttpRepository
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject NotificationService NotificationService
@rendermode InteractiveAuto
@attribute [StreamRendering]

<RadzenComponents />

<PageTitle>Services</PageTitle>

@if (_serviceHistory == null)
{
	<Spinner />
}
else if (_serviceHistory.Count() == 0)
{
	<section class="container my-3">
		<header class="d-flex justify-content-between align-items-center mb-2">
			<div>
				<h6 class="text-muted">Vehicle fleet</h6>
				<h3>Vehicle service history:</h3>
			</div>
		</header>
	</section>
	<div class="mb-3">
		<RadzenButton Text="Add new service" Icon="add" IconPosition="IconPosition.Left"
					  ButtonStyle="ButtonStyle.Primary" Click="NavigateToAddNewService" />
	</div>
}
else
{
	<section class="container my-3">
		<header class="d-flex justify-content-between align-items-center mb-2">
			<div>
				<h6 class="text-muted">Vehicle fleet</h6>
				<h3>Vehicle service history:</h3>
			</div>
		</header>

		<div class="mb-3">
			<RadzenButton Text="Add new service" Icon="add" IconPosition="IconPosition.Left"
						  ButtonStyle="ButtonStyle.Primary" Click="NavigateToAddNewService" />
		</div>

		<RadzenDataGrid PageSize="5" AllowPaging="true" ShowPagingSummary="true"
						Data="@_serviceHistory" TItem="ServiceHistoryDto" ColumnWidth="80px">
			<Columns>
				<RadzenDataGridColumn TItem="ServiceHistoryDto" Property="ServiceType" Title="Service Type" />
				<RadzenDataGridColumn TItem="ServiceHistoryDto" Property="Cost" FormatString="{0:C}" Title="Cost" />
				<RadzenDataGridColumn TItem="ServiceHistoryDto" Property="ServiceProvider" Title="Service Provider" />
				<RadzenDataGridColumn TItem="ServiceHistoryDto" Title="Status">
					<Template Context="service">
						@switch (service.Status)
						{
							case ServiceStatus.InProgress:
								<RadzenBadge Text="In Progress" Shade="Shade.Dark" BadgeStyle="BadgeStyle.Warning" />
								break;
							case ServiceStatus.Planned:
								<RadzenBadge Text="Planned" Shade="Shade.Dark" BadgeStyle="BadgeStyle.Success" />
								break;
							case ServiceStatus.Completed:
								<RadzenBadge Text="Completed" Shade="Shade.Dark" BadgeStyle="BadgeStyle.Info" />
								break;
							case ServiceStatus.Cancelled:
								<RadzenBadge Text="Cancelled" Shade="Shade.Dark" BadgeStyle="BadgeStyle.Danger" />
								break;
							default:
								<RadzenBadge Text="Unknown" Shade="Shade.Dark" BadgeStyle="BadgeStyle.Warning" />
								break;
						}
					</Template>
				</RadzenDataGridColumn>
				<RadzenDataGridColumn TItem="ServiceHistoryDto" Title="Actions">
					<Template Context="serviceHistory">
						<RadzenButton Icon="privacy_tip" ButtonStyle="ButtonStyle.Info" Click="@(args => GoToServiceDetails(serviceHistory.Id))"
									  Size="ButtonSize.Small" />
						<RadzenButton Icon="build" ButtonStyle="ButtonStyle.Warning" Click="@(args => GoToEditService(serviceHistory.Id))"
									  Size="ButtonSize.Small" />
						<RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Click="@(args => ConfirmDeleteService(serviceHistory.Id))"
									  Size="ButtonSize.Small" />
					</Template>
				</RadzenDataGridColumn>
			</Columns>
		</RadzenDataGrid>
	</section>
}

@code {
	[Parameter]
	public int Id { get; set; }

	private IEnumerable<ServiceHistoryDto> _serviceHistory;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await LoadServices();
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Błąd podczas ładowania danych: {ex.Message}");
		}
	}

	private void NavigateToAddNewService()
	{
		NavigationManager.NavigateTo($"/addservice/{Id}");
	}

	private void GoToServiceDetails(int id)
	{
		NavigationManager.NavigateTo($"/servicedetails/{id}");
	}

	private void GoToEditService(int id)
	{
		NavigationManager.NavigateTo($"/editservice/{id}");
	}

	private async Task ConfirmDeleteService(int id)
	{
		var confirmationResult = await DialogService.Confirm("Are you sure you want to delete this service?", "Delete service",
										new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });

		if (confirmationResult == true)
		{
			await DeleteService(id);
		}
	}

	private async Task DeleteService(int id)
	{
		try
		{
			await ServiceHttpRepository.DeleteService(id);
			NotificationService.Notify(NotificationSeverity.Success, "Success!", "Service has been deleted successfully");
			await LoadServices();
		}
		catch (Exception ex)
		{
			NotificationService.Notify(NotificationSeverity.Error, "Error", $"An error occurred while deleting the service: {ex.Message}");
		}
	}


	private async Task LoadServices()
	{
		try
		{
			var services = await ServiceHttpRepository.GetServicesByCarId(Id);
			_serviceHistory = services.Where(c => c.IsDeleted == false);
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Błąd podczas ładowania danych: {ex.Message}");
		}
		StateHasChanged();
	}
}
