<section class="container my-3">
	<div class="spinner-overlay">
		<div class="spinner-container">
			<RadzenProgressBarCircular ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
				<Template>Wait</Template>
			</RadzenProgressBarCircular>
		</div>
	</div>
</section>